.best-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#feedf0;
}
   
.best-header h1{
    font-weight: light;
    text-align: center;
    margin-bottom: 20px;
}

.best-card{
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.best-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; 
}

.best-table th,
.best-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid  rgba(255, 0, 0, 0.5); 
    word-break: break-word;}

.best-table th:first-child,
.best-table td:first-child {
    text-align: left;
    padding-left: 20px;
}


.best-table th:last-child,
.best-table td:last-child {
    background-color: rgba(229, 57, 53, 0.08);
    border-left: 2px solid #e53935;
    border-right: 2px solid #e53935;
}

/* Download Button */
.btn-wrapper {
    text-align: center;
    margin-top: 20px;
}

.D-btn{
    padding:15px 30px;
    border-radius: 30px;
    background-color: red;
    color:white;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
}

/* responsive for tablet */
@media (max-width: 992px) {
    .best-card {
        padding: 20px;
    }
    .best-table th, .best-table td {
        font-size: 13px;
        padding: 10px 8px;
    }
    .D-btn {
        padding:10px 20px;
        font-size: 15px;
    }
}

/* responsive for mobile */
@media (max-width: 768px) {
    .best-card {
        padding: 15px;
    }
    .best-table th, .best-table td {
        font-size: 12px;
        padding: 8px 6px;
    }
    .vyapar-btn-wrapper {
        margin-top: 8px;
    }
    .D-btn {
        padding:8px 18px;
        font-size: 14px;
    }
}