.billing-management-section {
  padding: 80px 20px;
  background-color: #ffffff;
}

.billing-management-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.billing-management-title {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  color: #000;
  margin-bottom: 60px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.feature-card {
  background-color: #f5f9ff;
  padding: 35px 25px;
  border-radius: 15px;
  text-align: center;
 
}
.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.feature-icon img {
  display: block;
  width: 64px;
  height: 64px;
  object-fit: contain;
  margin: 0 auto;
}


.feature-title {
  font-size: 19px;
  font-weight: 700;
  color: #000;
  margin-bottom: 12px;
}

.feature-description {
  font-size: 14px;
  color: #555;
}

/*responsive for tablet*/
@media (max-width: 1024px) {
  .billing-management-section {
    padding: 60px 20px;
  }

  .billing-management-title {
    font-size: 42px;
    margin-bottom: 50px;
  }

  .features-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    max-width: 800px;
    margin: 0 auto;
  }

  .feature-card {
    padding: 30px 20px;
  }

  .feature-icon img {
    width: 100%;
   

  }

  .feature-title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .feature-description {
    font-size: 20px;
  }
}

/*responsive for mobiles*/
@media (max-width: 767px) {
  .billing-management-section {
    padding: 40px 15px;
  }

  .billing-management-title {
    font-size: 30px;
    margin-bottom: 35px;
  }

  .features-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 0 auto;
  }

  .feature-card {
    padding: 25px 20px;
  }

  .feature-icon {
    margin-bottom: 15px;
  }

  .feature-icon img {
    width:100%;
  
  }

  .feature-title {
    font-size: 27px;
    margin-bottom: 10px;
  }

  .feature-description {
    font-size: 23px;
  }
}


@media (max-width: 480px) {
  .billing-management-section {
    padding: 30px 10px;
  }

  .billing-management-title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .features-grid {
    gap: 18px;
    max-width: 100%;
  }

  .feature-card {
    padding: 20px 15px;
  }

  .feature-icon img {
    width: 50px;
    height: 50px;
  }

  .feature-title {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .feature-description {
    font-size: 13px;
  }
}