.section4 {
    /* width: 100%; */
    padding: 40px 20px;
    background-color: #f9f9f9;

}

.section4-content {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 32px;
    color: rgba(7, 7, 41, 0.76);
}

.main-container {
    display: flex;
    gap: 30px;
}

.left-card {
    width: 50%;
    max-height: 400px;
    overflow-y: scroll;
    padding-right: 10px;
}

.cards {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    
}
.cards .image {
    width: 40px;
    height: 40px;
}

.cards .image img {
    width: 100%;
    height: 100%;
}

.cards .text h3 {
    font-size: 20px;
    color: rgba(7, 7, 41, 0.76);
    margin: 0;
}
.cards:hover{
      background-color: #b9b3b336;
      cursor: pointer;
}
.cards.active{
    background-color: rgba(145, 186, 219, 0.418);
}

.right-side {
    width: 50%;
    padding: 20px;
}
.right-side h3 {
    font-size: 20px;
    color: rgba(7, 7, 41, 0.76);
    margin-bottom: 20px;
    font-weight: bold;
}

.right-side p {
    font-size: 14px;
    color:rgb(26, 24, 24);
    line-height: 1.6;
}

/*responsive for tablet*/
@media(max-width:1024px){
    .main-container{
      gap:10px;
    }
    .header h1{
        font-size:25px ;
    }
    .right-side{
        text-align: left;
    }
.cards .image {
        width: 35px;
        height: 35px;
    }

    .cards .text h3 {
        font-size: 15px;
    }

    .right-side h3 {
        font-size: 18px;
    }

    .right-side p {
        font-size: 14px;
    }
}

/*responsive for mobile*/
@media(max-width:768px){
    .main-container {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .left-card {
        width: 100%;
        overflow-x: scroll;
        display: flex;
        gap: 10px;
        max-height: unset;
    }

    .cards {
        min-width: 45%;
        padding: 10px;
        gap: 10px;
        margin: 0;
    }

    .cards .image {
        width: 30px;
        height: 30px;
    }

    .cards .text h3 {
        font-size: 14px;
    }

    .right-side {
        width: 100%;
        padding: 15px;
    }

    .right-side h3 {
        font-size: 16px;
    }

    .right-side p {
        font-size: 12px;
        line-height: 1.3;
    }
}
