.btn {
  position: fixed;
  bottom: -60px;        
  left: 45%;           
  /* transform: translateX(-50%); */
  padding: 12px 24px;
  font-size: 16px;
  background-color:red;
  color: white;
  border: none;
  border-radius: 30px;
  transition: bottom 0.4s ease; 
  z-index: 1000; 
}

.btn.show {
  bottom: 30px; 
}

/*responsive*/
@media(max-width:1024px){
  .btn{
    display:none;
  }
  .btn.show{
    display: none;
  }
}
