.footer-section{
    background-color:#2e2c2c;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
}

.logo img{
    margin-top: 40px;
    width:200px;
}

.footer-details{
    width:100%;
    max-width: 1200px;
     display:grid;
     grid-template-columns: repeat(3, 1fr);
     gap:40px;
    
}
.info h3{
    color:white;
}

/*responsive*/
@media(max-width:1092px){
    .logo img{
        width:170px;
    }
    .footer-details{
          grid-template-columns: repeat(2, 1fr);
    }
    .footer-details h2{
        font-size: large;
    }
    .footer-details p{
        font-size: medium;
    }
}

@media(max-width:850px){
     .logo img{
        width: 130px;
     }
    .footer-details{
         grid-template-columns:  1fr;
         margin-left: 20px;
    }
    .footer-details h2{
        font-size: medium;
    }
    .footer-details p{
        font-size: small;
    }
    .more-details, .TC , .img-text{
         margin-left: 20px;
    }
}