.live-btn{
   z-index:999;
   position:fixed;
   bottom:30px;
   right:30px;
   width:60px;
   height:60px;
   background: white;
   border-radius: 50%;
   display:flex;
   justify-content:center;
   align-items:center;
}
.live-btn img{
    width:50px;
}
.live-btn:hover{
    background:#cc0000;
}
.live-card{
    position:fixed;
    bottom:110px;
    right:30px;
    width:280px;
    background-color: #fff;
    padding:20px;
    border-radius:12px;
    z-index:999;
}
.live-card h1{
   text-align: center;
    color:#ff2e2e;
    margin-bottom:5px;
}
.live-card p{
    text-align: center;
    font-size: 14px;
    color:#666;
    margin-bottom:15px;
}
.live-card label{
    font-size:14px;
    display:block;
    margin-top:10px;
}
.live-card input{
    width:92%;
    padding:8px;
    margin-top:5px;
    
}
.live-card button{
    width:92%;
    margin-top:15px;
    padding:10px;
    color:#666;
}
