.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.login-sidebar {
    position: fixed;
    top: 0;
    z-index: 2000;
    right: 0;
    width: 400px;
  height:100%;
    background: white;
    padding: 60px;
    margin-top: 60px;
}
.close-btn {
    position: absolute;
    top: 15px;
    right:15px;
  
   
    font-size: 24px;
    cursor: pointer;
    color: #666;
}
.login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.create-btn {
    background: none;
    border: none;
    color: #2196F3;
    cursor: pointer;
    font-size: 14px;
}
.phone-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.phone-box input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
}
.email-btn {
    background: none;
    border: none;
    color: #2196F3;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px;
    display: block;
}
.login-button {
    width: 100%;
    background: #2196F3;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}
.forgot-btn {
    background: none;
    border: none;
    color: #2196F3;
    font-size: 14px;
    cursor: pointer;
    display: block;
    text-align: center;
}

/*Responsive for mobile*/

@media(max-width:768px){
    .login-sidebar{
        position: fixed;
        top:45%;
        left:22%;
        width:50%;
        height:15%;
        padding:24px;
        margin-top: 0;
        border-radius: 16px;
    }
}
