.perfect-section {
   
    padding: 40px 20px;
    background-color: #f9f9f9;

}
.perfect-content {
    max-width: 1200px;
    margin: 0 auto;
}
.perfect-header {
    text-align: center;
    margin-bottom: 40px;
}
.perfect-main-container {
    display: flex;
    gap: 30px;
}
.perfect-left-card {
    width: 50%;
    max-height: 400px;
    overflow-y: scroll;
    padding-right: 10px;
}
.perfect-cards {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
}
.perfect-cards .perfect-title h3 {
    font-size: 20px;
    color: rgba(7, 7, 41, 0.76);
    margin: 0;
}
.perfect-cards:hover{
      background-color: #b9b3b336;
      cursor: pointer;
}
.perfect-cards.active{
    background-color: rgba(145, 186, 219, 0.418);
}


.perfect-right-card {
    width: 70%;
   
    max-height: 400px;
   
}
.perfect-right-card p {
    font-size: 14px;
    color:rgb(26, 24, 24);
    line-height: 1.6;
    
}
.perfect-right-card img{
    width:500px;
}
/* responsive for tablet  */
@media(max-width:1024px){
    .perfect-main-container{
        flex-direction: column;
        align-items: center;
    }
    .perfect-left-card{
        width:70%;
    }
}

/* responsive for mobile */
@media(max-width:768px){
    .perfect-main-container{
        align-items: center;
    }
    .perfect-right-card img{
       width:300px;
    }
}
