
.solution-card {
    position: absolute;
    top: 80px;  
    right: 5%;    
    z-index: 20; 
}


.card-S {
    width: 600px;
    background-color: #fff;
    border-radius: 12px;  
    position: relative;
   
}


.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    font-size: 20px;
    color: #666;
    cursor: pointer; 
    padding: 4px 8px;
}



.solution-columns {
    display: flex;  
    gap: 60px; 
}


.column {
    flex: 1;  
}


.column h4 {
    margin-left: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 16px;
}

.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.column ul li {
    padding: 8px 0;  
    margin-left: 40px;
    color: #555;
    font-size: 14px;
    cursor: pointer;  
}


.column ul li:hover {
    color: rgb(19, 12, 12);  
}
/*responsive*/
@media (max-width:768px){
    .solution-card{
        top:45%;
        left:5%;
        z-index:20;
    }
}