.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 30px;
}
.section3-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}
.section3-full {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  width: 100%;
}
.section3-full.reverse {
  flex-direction: row-reverse;
}
.section3-image img {
  height: 300px;
}

.section3-text {
  min-width: 300px;
}

.section3-text h2 {
  font-size: 42px;
  font-weight: 600;
  color: rgba(7, 7, 41, 0.76);
  margin-bottom: 10px;
}

.section3-description {
  color: rgba(53, 51, 51, 0.966);
  font-size: 18px;
  margin-bottom: 20px;
}

.read-toggle {
  color:red;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

/*responsive for tablet*/
@media(max-width:1024px){
    .section3-full {
       flex-direction: column;
        text-align: center;
        gap: 40px;
        text-align: left;
    }
    .section3-full.reverse{
         flex-direction: column;
        text-align: center;
        gap: 40px;
        text-align: left;
    }
    .section3-text h2 {
    font-size: 32px;
  }

  .section3-description {
    font-size: 16px;
  }
}

/*responsive for mobile*/
 @media (max-width: 768px) {
  .section3 {
    padding: 30px 15px;
  }

  .section3-text h2 {
    font-size: 26px;
  }

  .section3-description {
    font-size: 14px;
  }
}


